body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
  background-image: url("./assets/images/backgroundWave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.column-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alertFailure {
  background-color: palevioletred;
  color: white;
  border: 1px solid rgb(239, 91, 140);
  border-radius: 3px;
}

.alertSuccess {
  background-color: rgb(114, 213, 127);
  color: rgb(26, 24, 21);
  border: 1px solid rgb(56, 213, 17);
  border-radius: 3px;
}

.newAdditionModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 120px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.78);
  z-index: 999;
}

.newAdditionModalInner {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  max-width: 350px;
}

.spanReset {
  padding: 0;
  margin: 0;
  transform: translate(0em, -0.1em);
}

.viewCardsCascade {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.viewCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #087fed;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #949494;
  min-width: 346px;
  background-image: linear-gradient(120deg, #7e05f6 0%, #92159e 100%);
}

.editValueIcon {
  height: 14px;
  width: 14px;
  margin: 0px 3px 0px 3px;
  opacity: 0;
}

.viewCardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f0ebeb;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 0px 10px 5px 10px;
  padding: 3px;
}

.viewCardRowLeftBox {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 10px;
  /* width: 50%; */
}

.viewCardRowRightBox {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 10px;
  /* width: 50%; */
}

.buttonPrimary {
  border: 0px;
  padding: 5px;
  background-color: rgb(28, 135, 235);
  color: white;
  cursor: pointer;
}

.buttonAddNewEntry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  color: black;
  margin: 0px 0px 0px 10px;
  border-radius: 10px;
  min-height: 1.5em;
}
.buttonAddNewEntry * {
  vertical-align: middle;
}

.buttonWhite {
  border: 0px;
  padding: 5px;
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.buttonTransparent {
  border: 0px;
  padding: 5px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.buttonRed {
  border: 0px;
  padding: 5px;
  background-color: rgb(218, 30, 30);
  color: white;
  cursor: pointer;
}

.currencyFlagImage {
  height: 18px;
}

/* width */
.scrollbarstyles::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.scrollbarstyles::-webkit-scrollbar-track {
  background: #f0ebeb;
}

/* Handle */
.scrollbarstyles::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.scrollbarstyles::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .viewCardsCascade {
    justify-content: center;
  }
  .newAdditionModal {
    padding-top: 10px;
  }
}

@media (max-width: 610px) {
  input {
    font-size: max(1em, 16px);
  }
}
