.optionsBoardNarrow {
  display: flex;
  align-items: flex-start;
}

.narrowOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wealthSummaryNarrow {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
