.shimmerWrapper {
  width: 0px;
  padding: 0;
  margin: 0;
  animation: fullView 0.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.animate {
  padding: 0;
  margin: 0;
  animation: shimmer 3s infinite linear;
  /* background: linear-gradient(to right, #aaacad 4%, #e4e0e0 25%, #aaacad 36%); */
  background: linear-gradient(
    to right,
    rgba(51, 106, 157),
    rgba(5, 128, 244, 0.24),
    rgba(51, 106, 157)
  );
  background-size: 1000px 100%;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
