.viewCardHeaderRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}

.viewCardHeaderRow h3 {
  color: rgb(255, 255, 255);
}

.viewCardHeading {
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 0px 0px 5px 0px;
}

.viewCardHeading svg {
  margin-right: 5px;
}

.viewCardSubHeading {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px 10px 10px 5px;
}

.viewCardSubHeading h3 {
  color: rgb(255, 255, 255);
}

.viewCardTotal {
  margin: 0px 0px 0px 0px;
}
.buttonSortingSpinner {
  background-color: transparent;
  margin: 0px 0px 0px 10px;
  border-radius: 10px;
  vertical-align: middle;
  min-height: 1em;
  color: white;
}

.viewCardButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
