.softDeleteButtonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 0px 0px 0px 7px;
}
.softDeleteButton {
  border-radius: 5px;
  margin: 0px 0px 30px 10px;
  padding: 3px;
}
